a:/home/{{ ansible_user_id }}/a
b:/home/{{ ansible_user_id }}/b
c:/home/{{ ansible_user_id }}/.config
d:/home/{{ ansible_user_id }}/d
e:/etc
h:/home/{{ ansible_user_id }}
m:/mnt
w:/home/{{ ansible_user_id }}/w
