#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

# This file's true location is in ~/.config/x11/xprofile and a link exists to
# it in ~/.xprofile. If you do not use a DM, you may remove the link to it to
# have a cleaner home.

dunst                             & # Notifications
flameshot                         & # Screenshots
mpd                               & # music player daemon, you might prefer it as a service though
{% if ansible_facts['distribution'] == "Void" %}
pipewire                          & # Linux audio engine
{% endif %}
redshift -O 3500                  & # Less blue light for the eyes
remaps                            & # Script, switches caps/esc and more
setbg                             & # Script, set background
sh ~/.local/bin/rand-wallpaper.sh & # Load Wallpapers with FeH
shortcuts                         & # Script, add shortcuts to several apps
transmission-daemon               & # Starts up torrent seeding/downloading, gotta share those ISOs
unclutter                         & # Remove mouse when idle
xcompmgr                          & # xcompmgr for transparency
xset r rate 300 50                & # Speed xrate up
{% if ansible_facts['distribution'] == "Void" %}
wireplumber                       & # Linux audio engine
{% endif %}


# Autostart applications (on their tags with my build of DWM)
{% if ansible_facts['distribution'] == "Archlinux" %}
signal-desktop &
telegram-desktop &
alacritty &
firefox &
alacritty --class lf -e lf &
neovide --x11-wm-class organization /mnt/ssddata/neorg/personal/index.norg &
alacritty --class neomutt -e neomutt &
alacritty --class ncmpcpp -e ncmpcpp &
keepassxc &
{% endif %}
{% if ansible_facts['distribution'] == "Fedora" %}
flatpak run org.signal.Signal &
telegram-desktop &
alacritty &
firefox &
alacritty --class lf -e lf &
neovide --x11-wm-class organization /mnt/ssddata/neorg/personal/index.norg &
alacritty --class neomutt -e neomutt &
alacritty --class ncmpcpp -e ncmpcpp &
keepassxc &
{% endif %}
{% if ansible_facts['distribution'] == "Void" %}
flatpak run org.signal.Signal &
telegram-desktop &
alacritty &
firefox &
alacritty --class lf -e lf &
neovide --x11-wm-class organization /mnt/ssddata/neorg/personal/index.norg &
alacritty --class neomutt -e neomutt &
alacritty --class ncmpcpp -e ncmpcpp &
keepassxc &
{% endif %}
{% if ansible_facts['distribution'] == "OpenBSD" %}
alacritty &
firefox &
alacritty --class lf -e lf &
alacritty --class neomutt -e neomutt &
alacritty --class ncmpcpp -e ncmpcpp &
keepassxc &
{% endif %}
