#!/bin/sh
# A dmenu wrapper script for system functions.

{% if ansible_facts['distribution'] == "Archlinux" or ansible_facts['distribution'] == "Fedora" %}
case "$(printf "display off \nhibernate ⏾\nleave dwm \nlock \nreboot ﰇ\nrenew dwm \nshutdown \nsuspend 鈴" | dmenu --autoselect -i -p 'Action: ')" in
    'display off ') xset dpms force off                       ;;
    'hibernate ⏾')   slock doas systemctl hibernate            ;;
    'leave dwm ')   kill -TERM "$(pgrep -u "$USER" "\bdwm$")" ;;
    'lock ')        slock                                     ;;
    'reboot ﰇ')      doas systemctl reboot                     ;;
    'renew dwm ')   kill -HUP "$(pgrep -u "$USER" "\bdwm$")"  ;;
    'shutdown ')    doas systemctl poweroff                   ;;
    'suspend 鈴')    slock doas systemctl suspend              ;;
    *)               exit 1                                    ;;
esac
{% endif %}
{% if ansible_facts['distribution'] == "Void" %}
case "$(printf "display off \nhibernate ⏾\nleave dwm \nlock \nreboot ﰇ\nrenew dwm \nshutdown \nsuspend 鈴" | dmenu --autoselect -i -p 'Action: ')" in
    'display off ') xset dpms force off                       ;;
    'hibernate ⏾')   slock doas ZZZ                            ;;
    'leave dwm ')   kill -TERM "$(pgrep -u "$USER" "\bdwm$")" ;;
    'lock ')        slock                                     ;;
    'reboot ﰇ')      doas reboot                               ;;
    'renew dwm ')   kill -HUP "$(pgrep -u "$USER" "\bdwm$")"  ;;
    'shutdown ')    doas poweroff                             ;;
    'suspend 鈴')    slock doas zzz                            ;;
    *)               exit 1                                    ;;
esac
{% endif %}
{% if ansible_facts['distribution'] == "OpenBSD" %}
case "$(printf "display off \nhibernate ⏾\nleave dwm \nlock \nreboot ﰇ\nrenew dwm \nshutdown \nsuspend 鈴" | dmenu --autoselect -i -p 'Action: ')" in
    'display off ') xset dpms force off                       ;;
    'hibernate ⏾')   slock doas ZZZ                            ;;
    'leave dwm ')   kill -TERM "$(pgrep -u "$USER" "\bdwm$")" ;;
    'lock ')        slock                                     ;;
    'reboot ﰇ')      doas shutdown -r now                      ;;
    'renew dwm ')   kill -HUP "$(pgrep -u "$USER" "\bdwm$")"  ;;
    'shutdown ')    doas shutdown -p now                      ;;
    'suspend 鈴')    slock zzz                                 ;;
    *)               exit 1                                    ;;
esac
{% endif %}
