#!/usr/bin/env bash

#Functions that act like aliases
fcd()  { cd "$(awk ' /^cd \// { print $2 } ' "${XDG_DATA_HOME-$HOME/.local/share}/bash/history" | sk)" || return ; }
fed()  { $EDITOR "$(fd . -t f -e txt -e text -e tex -e md -e sh -e pl /home/{{ ansible_user_id }}/d | sk --multi)" || return ; }
fim()  { fd . -t f -e jpg -e jpeg -e png -e webm /home/{{ ansible_user_id }}/b /home/{{ ansible_user_id }}/w | sk --multi | sxiv -baio || return ; }
fmu()  { mpv "$(fd . -t f -e mp3 -e ogg -e wav -e flac -e mka /home/{{ ansible_user_id }}/a | sk --multi)" || return ; }
fpdf() { zathura "$(fd . -t f -e pdf /home/{{ ansible_user_id }}/d /home/{{ ansible_user_id }}/w | sk)" || return ; }
fvd()  { mpv "$(fd . -t f -e mp4 -e mkv -e avi -e mov -e wmv -e mpg /home/{{ ansible_user_id }}/b | sk --multi)" || return ; }
fvi()  { $EDITOR "$(awk ' /^v / { print $2 } ' "${XDG_DATA_HOME-$HOME/.local/share}/bash/history" | sk )" ; }
gon()  { rg -i $1 -g '!**/07**/**' -g *.norg /home/{{ ansible_user_id }}/neorg/personal/ ; }
hst()  { /usr/bin/sk --reverse --height=40% < "${XDG_DATA_HOME-$HOME/.local/share}/bash/history" | sh ; }
on()   { $EDITOR "$(fd . --type file /home/{{ ansible_user_id }}/neorg/personal/ --exclude 07bl/*  | sk)" ; }
se()   { $EDITOR "$(fd . ~/.local/bin ~/.config --type file --hidden | sk)" ; }
function gp()  { git push origin "$(git branch --show-current)" ; }
function lfcd() {
    [[ ! -f /bin/mktemp ]] && \
    printf 'mktemp does not exist, exiting' && \
    return 0

    temp="$(mktemp)"
    lf -last-dir-path="$temp" "$@"
    if [ -f "${temp}" ]; then
        read -r directory < "${temp}"
        rm -f "$temp" > /dev/null
        [[ -d "${directory}" && "${directory}" != "${PWD}" ]] && cd "${directory}" || return
    fi
}
function wtor () { while :; do clear; transmission-remote -l; sleep 300 ; done ; }

{% if ansible_facts['service_mgr'] == "systemd" %}
{{ service_systemd }}
{% endif %}
{% if ansible_facts['service_mgr'] == "runit" %}
{{ service_runit }}
{% endif %}

# If neovim is present, use it instead of vim
[[ -x "$(command -v nvim)" ]] && alias vim="nvim" vimdiff="nvim -d"

# Use $XINITRC variable if file exists.
[[ -f "$XINITRC" ]] && alias startx="startx $XINITRC"

# doas not required for some system commands
{% if ansible_facts['distribution'] == "Archlinux" %}
for command in mount poweroff reboot shutdown umount updatedb pacman
{% endif %}
{% if ansible_facts['distribution'] == "Fedora" %}
for command in mount poweroff reboot shutdown umount updatedb dnf dnf5
{% endif %}
{% if ansible_facts['distribution'] == "Void" %}
for command in mount poweroff reboot shutdown sv umount updatedb xbps-alternatives xbps-checkvers xbps-create xbps-dgraph xbps-digest xbps-fbulk xbps-fetch xbps-install xbps-pkgdb xbps-query xbps-reconfigure xbps-remove xbps-rindex xbps-uchroot xbps-uhelper xbps-uunshare
{% endif %}
{% if ansible_facts['distribution'] == "FreeBSD" %}
for command in mount umount poweroff shutdown reboot halt pkg
{% endif %}
{% if ansible_facts['distribution'] == "OpenBSD" %}
for command in chown dmesg mount pkg_add pkg_delete poweroff reboot sa shutdown umount updatedb
{% endif %}
do
    alias $command="doas $command"
done; unset command

# Verbosity and settings that you pretty much just always are going to want.
alias batt="bat /sys/class/power_supply/BAT?/capacity"
alias bc="bc -ql"
alias cp="cp -iv"
alias diff="diff --color=always -yai --suppress-common-lines --width=300"
alias ffmpeg="ffmpeg -hide_banner"
alias mkd="mkdir -p"
alias mv="mv -iv"
alias rm="rm -iv"
alias yt="yt-dlp --add-metadata -i"
alias yta="yt-dlp -cx --no-playlist --sleep-interval 5 --max-sleep-interval 30 --console-title --quiet --ignore-errors --add-metadata --no-call-home --extract-audio --format mp3"
alias ytv="yt-dlp -c  --no-playlist --sleep-interval 5 --max-sleep-interval 30 --console-title --quiet --ignore-errors --add-metadata --no-call-home"

# Colorize commands when possible.
alias less="less -r"
alias ip="ip -br -c"

# These common commands are too long! Abbreviate them.
alias a="ansible"
alias ap="ansible-playbook"
alias br="setxkbmap br"
alias dv="setxkbmap dvorak"
alias cat="uu-cat -bTv"
alias chmod="uu-chmod -c"
alias chown="uu-chown -c"
alias cleardir="rmlint && ./rmlint.sh -d && rm -vf rmlint.json && rmlint && ./rmlint.sh -d && rm -vf rmlint.json"
alias cp="uu-cp -irpg --debug"
alias e="$EDITOR"
alias f="$FILE"
alias fuck="doas !!"
alias g="git"
alias ga="git add $@"
alias gb="git branch -ra"
alias gc="git commit"
alias gck="git checkout $1 2>/dev/null || git checkout -b $1"
alias gco="git checkout $1 2>/dev/null || git checkout -b $1"
alias gd="git diff"
alias gfbf='git flow bugfix --showcommand finish'
alias gfbs='git flow bugfix --showcommand start'
alias gfff='git flow feature --showcommand finish'
alias gffs='git flow feature --showcommand start'
alias gfhf='git flow hotfix --showcommand finish'
alias gfhs='git flow hotfix --showcommand start'
alias gfrf='git flow release --showcommand finish'
alias gfrs='git flow release --showcommand start'
alias gfsf='git flow support --showcommand finish'
alias gfss='git flow support --showcommand start'
alias gl='git log --pretty=format:"%h - %an - %ar - %s"'
alias gmt="git mergetool --tool=nvimdiff"
alias gpl="git pull"
alias gs="git status"
alias ka="killall"
alias l='uu-ls --color=yes --group-directories-first --time-style=long-iso -F -X -l -h -A -I .gitignore -I .git'
alias ls='uu-ls --color=yes --group-directories-first                       -F -X          -I .gitignore -I .git'
alias mv="uu-mv -ivg"
alias rm="uu-rm -iv --one-file-system --preserve-root"
alias sdn="doas shutdown -h now"
alias sudo="doas"
alias terra="terraform fmt && terraform validate && terraform plan && terraform apply -auto-approve"
alias us="setxkbmap us"
alias v="$EDITOR"
alias z="zathura"

{% if ansible_facts['distribution'] == "Archlinux" %}
# Distribution specific aliases
alias p="pacman"
alias aur="trizen -Syu --noedit --noconfirm"
{% endif %}
{% if ansible_facts['distribution'] == "Void" %}
# Distribution specific aliases
alias xi="doas xbps-install"
alias xq="xbps-query -Rs"
alias xr="doas xbps-remove -ORfovy"
{% endif %}
{% if ansible_facts['distribution'] == "OpenBSD" %}
# Distribution specific aliases
alias poweroff='/usr/bin/doas /sbin/shutdown -p now'
alias reboot='/usr/bin/doas /sbin/shutdown -r now'
{% endif %}

# Some other stuff
alias lf="lfub"
alias ref="shortcuts >/dev/null; source ${XDG_CONFIG_HOME:-$HOME/.config}/shell/shortcutrc"
alias vifm="${XDG_CONFIG_HOME:-$HOME/.config}/vifm/scripts/vifmrun"
alias weath="less -S ${XDG_DATA_HOME:-$HOME/.local/share}/weatherreport"
#alias gpg2="gpg2 --homedir ${XDG_DATA_HOME:-$HOME/.local/share}/gnupg"
#alias gpg="gpg2  --homedir ${XDG_DATA_HOME:-$HOME/.local/share}/gnupg"
alias yarn='yarn --use-yarnrc "${XDG_CONFIG_HOME:-$HOME/.config}/yarn/config"'
