#!/usr/bin/env bash

# Adds other directories where executables might be to the PATH
export PATH="$PATH:$HOME/.local/bin:$HOME/.local/bin/cron:$HOME/.local/bin/statusbar:$HOME/.local/share/cargo/bin:$HOME/.local/share/flatpak/exports/share"

# Personalize prompts
{% if ansible_facts['distribution'] == "Archlinux" %}
export PS1='\[\e[0;31m\]\[\e[m\]\[\e[0;33m\]\u\[\e[m\]\[\e[0;32m\]@\[\e[m\]\[\e[0;34m\]\[\e[m\] \[\e[0;35m\]\W\[\e[m\]\[\e[0;31m\]\[\e[m\] '
{% endif %}
{% if ansible_facts['distribution'] == "Fedora" %}
export PS1='\[\e[0;31m\]\[\e[m\]\[\e[0;33m\]\u\[\e[m\]\[\e[0;32m\]@\[\e[m\]\[\e[0;34m\]\[\e[m\] \[\e[0;35m\]\W\[\e[m\]\[\e[0;31m\]\[\e[m\] '
{% endif %}
{% if ansible_facts['distribution'] == "Void" %}
export PS1='\[\e[0;31m\]\[\e[m\]\[\e[0;33m\]\u\[\e[m\]\[\e[0;34m\]@\[\e[m\]\[\e[0;32m\]\[\e[m\] \[\e[0;35m\]\W\[\e[m\]\[\e[0;31m\]\[\e[m\] '
{% endif %}
{% if ansible_facts['distribution'] == "FreeBSD" %}
export PS1='\[\e[0;31m\]\[\e[m\]\[\e[0;33m\]\u\[\e[m\]\[\e[0;32m\]@\[\e[m\]\[\e[0;31m\]\[\e[m\] \[\e[0;35m\]\W\[\e[m\]\[\e[0;31m\]\[\e[m\] '
{% endif %}
{% if ansible_facts['distribution'] == "OpenBSD" %}
export PS1='\[\e[0;31m\]\[\e[m\]\[\e[0;33m\]\u\[\e[m\]\[\e[0;32m\]@\[\e[m\]\[\e[0;33m\]\[\e[m\] \[\e[0;35m\]\W\[\e[m\]\[\e[0;31m\]\[\e[m\] '
{% endif %}
export PS2='ﰲ '

# Default programs:
export BROWSER='firefox'
{% if ansible_facts['distribution'] == "Archlinux" %}
export BROWSER2='brave'
{% endif %}
{% if ansible_facts['distribution'] == "Fedora" %}
export BROWSER2='brave-browser'
{% endif %}
{% if ansible_facts['distribution'] == "OpenBSD" %}
export BROWSER2='chrome' # That is how they call Chromium
{% endif %}
export COLORTERM='truecolor'
export EDITOR='nvim'
export FILE='lfub'
export IMAGE='sxiv'
{% if ansible_facts['distribution'] == "FreeBSD" or ansible_facts['distribution'] == "OpenBSD" %}
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'
{% endif %}
export MANROFFOPT="-c"
export OPENER='xdg-open'
export READER='zathura'
{% if ansible_facts['distribution'] == "FreeBSD" or ansible_facts['distribution'] == "OpenBSD" %}
export SHELL='/usr/local/bin/bash'
{% else %}
export SHELL='/bin/bash'
{% endif %}
export TERMINAL='alacritty'
export VIDEO='mpv'
export WM='dwm'

# Pretty-print man(1) pages.
export LESS_TERMCAP_mb=$'\e[1;91m'
export LESS_TERMCAP_md=$'\e[1;91m'
export LESS_TERMCAP_me=$'\e[0m'
export LESS_TERMCAP_ue=$'\e[0m'
export LESS_TERMCAP_so=$'\e[1;93m'
export LESS_TERMCAP_se=$'\e[0m'
export LESS_TERMCAP_us=$'\e[1;92m'

# ~/ Clean-up:
# Others
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_DESKTOP_DIR="$HOME/"
export XDG_DOCUMENTS_DIR="$HOME/d"
export XDG_DOWNLOAD_DIR="$HOME/w"
export XDG_MUSIC_DIR="$HOME/a"
export XDG_PICTURES_DIR="$HOME/b"
{% if ansible_facts['distribution'] == "FreeBSD" or ansible_facts['distribution'] == "OpenBSD" %}
export XDG_RUNTIME_DIR="$HOME/.local/state/run"
{% endif %}
export XDG_TEMPLATES_DIR="$HOME/d/templates"
export XDG_VIDEOS_DIR="$HOME/b"

# Other program settings:
export _JAVA_AWT_WM_NONREPARENTING=1 # Java doesn't understand tiling windows
export ANSIBLE_FORCE_COLOR='true'
export ANSIBLE_FORKS={{ ansible_facts['processor_count'] }}
export ANSIBLE_GALAXY_DISABLE_GPG_VERIFY='true'
export ANSIBLE_GALAXY_IGNORE='true'
export ANSIBLE_PIPELINING='true'
export ANSIBLE_VERBOSITY=6
export AWT_TOOLKIT="MToolkit wmname LG3D" # May have to install wmname
export DEFAULT_VERBOSITY=6
export DICS="/usr/share/stardict/dic/"
export GPG_TTY=$(tty)
export LESS='-R'
export LESSHISTFILE="-"
export MOLECULE_DEBUG='on'
export MOLECULE_DEPENDENCY_NAME='galaxy'
export MOLECULE_DRIVER_NAME='podman'
export MOLECULE_PROVISIONER_NAME='ansible'
export MOLECULE_VERBOSITY=6
export MOLECULE_VERIFIER_NAME='ansible'
export MOZ_USE_XINPUT2="1"           #Mozilla smooth scrolling/touchpads.
export QT_QPA_PLATFORMTHEME="gtk2"   #Have QT use gtk2 theme.
export SKIM_DEAFUALT_COMMAND="fd -t f || git ls-tree -r --name-only HEAD || rg --files || find ."
export SKIM_DEFAULT_OPTIONS="--ansi --height 40%"
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
export SUDO_ASKPASS="$HOME/.local/bin/dmenupass"
export TMUX_TMPDIR="$XDG_RUNTIME_DIR"
export WINIT_X11_SCALE_FACTOR=1.00 # Alacritty and neovide use normal font size
#export XAUTHORITY="${XDG_RUNTIME_DIR}/Xauthority"

# Bash variables
export HISTCONTROL='ignoreboth'
export HISTCONTROL='ignoredups:ignorespace'
export HISTIGNORE="[ \t]*:&:ls:[bf]g:lf:nvim:v:f:exit"
export HISTSIZE=1000000
export HISTFILESIZE=1000000
export HISTTIMEFORMAT="%F %T  "
export TIMEFORMAT='%3R'

# Configs
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="${XDG_CONFIG_HOME:-$HOME/.config}"/java
export ANDROID_SDK_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/android"
export ANSIBLE_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/ansible/ansible.cfg"
export ASPELL_CONF="per-conf ${XDG_CONFIG_HOME:-$HOME/.config}/aspell/aspell.conf; personal ${XDG_CONFIG_HOME:-$HOME/.config}/aspell/en.pws; repl ${XDG_CONFIG_HOME:-$HOME/.config}/aspell/en.prepl"
#export GIT_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/git/config"
export GTK2_RC_FILES="${XDG_CONFIG_HOME:-$HOME/.config}/gtk-2.0/gtkrc-2.0"
export INPUTRC="${XDG_CONFIG_HOME:-$HOME/.config}/inputrc"
export MBSYNCRC="${XDG_CONFIG_HOME:-$HOME/.config}/mbsync/config"
export NOTMUCH_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/notmuch-config"
export NPM_CONFIG_USERCONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/npm/npmrc"
export WGETRC="${XDG_CONFIG_HOME:-$HOME/.config}/wget/wgetrc"
export XINITRC="${XDG_CONFIG_HOME:-$HOME/.config}/x11/xinitrc"
export XSERVERRC="${XDG_CONFIG_HOME:-$HOME/.config}/x11/xserverrc"
export YAMLLINT_CONFIG_FILE="${XDG_CONFIG_HOME:-$HOME/.config}/yamllint/config"

# Data
#export GNUPGHOME="${XDG_DATA_HOME:-$HOME/.local/share}/gnupg"
export ANSIBLE_CONNECTION_PASSWORD_FILE="${XDG_DATA_HOME:-$HOME/.local/share}/ansible/connection-password-file"
export ANSIBLE_DEV_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/ansible"
export ANSIBLE_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/ansible"
export ANSIBLE_VAULT_PASSWORD_FILE="${XDG_DATA_HOME:-$HOME/.local/share}/ansible/vault-password-file"
export BECOME_PASSWORD_FILE="${XDG_DATA_HOME:-$HOME/.local/share}/ansible/become-password-file"
export CARGO_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/cargo"
export CONNECTION_PASSWORD_FILE="${XDG_DATA_HOME:-$HOME/.local/share}/ansible/connection-password-file"
export DEFAULT_VAULT_PASSWORD_FILE="${XDG_DATA_HOME:-$HOME/.local/share}/ansible/vault-password-file"
export GOPATH="${XDG_DATA_HOME:-$HOME/.local/share}/go"
export HISTFILE="${XDG_DATA_HOME:-$HOME/.local/share}/bash/history"
export KODI_DATA="${XDG_DATA_HOME:-$HOME/.local/share}/kodi"
export PASSWORD_STORE_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/password-store"
export RUSTUP_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/rustup"
export TERMINFO="${XDG_DATA_HOME:-$HOME/.local/share}/terminfo"
export TERMINFO_DIRS="${XDG_DATA_HOME:-$HOME/.local/share}/terminfo:/usr/share/terminfo"
export W3M_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/w3m"
export WINEPREFIX="${XDG_DATA_HOME:-$HOME/.local/share}/wineprefixes/default"

{% if ansible_facts['distribution'] == "Fedora" or ansible_facts['distribution'] == "Void" %}
export $(dbus-launch)
{% endif %}

# Start graphical server on user's current tty if not already running.
[[ "$(tty)" = "/dev/tty1" || "$(tty)" = "/dev/ttyC0" ]] && ! pgrep -s Xorg >/dev/null 2>&1 && exec startx "$XINITRC"
