{% if ansible_facts['distribution'] == "Archlinux" %}
https://www.archlinux.org/feeds/news/ "~Arch Linux recent News"
https://archlinux.org/feeds/planet/ "~Arch Linux planet"
{% endif%}
{% if ansible_facts['distribution'] == "Fedora" %}
https://fedoramagazine.org/feed/ "~Fedora Magazine"
https://communityblog.fedoraproject.org/feed/ "~Fedora community blog"
{% endif%}
{% if ansible_facts['distribution'] == "Void" %}
https://voidlinux.org/atom.xml "~Voidlinux changes"
https://github.com/void-linux/xbps/commits/master.atom "~VoidLinux XBPS changes"
{% endif%}
{% if ansible_facts['distribution'] == "OpenBSD" %}
https://www.reddit.com/r/openbsd.rss "~OpenBSD Reddit"
http://www.undeadly.org/cgi?action=rss "~OpenBSD Journal"
{% endif%}
