# A configuration file for MPD.
# Read the user manual for documentation: http://www.musicpd.org/doc/user/

auto_update                "yes"
auto_update_depth          "3"
filesystem_charset         "UTF-8"
follow_inside_symlinks     "yes"
follow_outside_symlinks    "yes"
log_file                   "/home/{{ ansible_user_id }}/.cache/mpd/log"
log_level                  "warning"
metadata_to_use            "artist,album,title,track,name,genre,date,composer,performer,disc"
music_directory            "/home/{{ ansible_user_id }}/a"
playlist_directory         "/home/{{ ansible_user_id }}/.local/share/mpd/playlists"
port                       "6600"
replaygain                 "auto"
replaygain_limit           "yes"
replaygain_missing_preamp  "0"
replaygain_preamp          "0"
restore_paused             "yes"
state_file                 "/home/{{ ansible_user_id }}/.local/state/mpd/state"
sticker_file               "/home/{{ ansible_user_id }}/.local/share/mpd/sticker.sql"
volume_normalization       "yes"
zeroconf_enabled           "no"

database {
    plugin           "simple"
    path             "/home/{{ ansible_user_id }}/.local/share/mpd/db"
    cache_directory  "/home/{{ ansible_user_id }}/.local/share/mpd/cache"
}

input {
        plugin "curl"
}
